<html>
{% extends "index.html" %} {% load crispy_forms_tags %} {% block page_content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\homepage.css' %}" />

</head>

<body>
    <!-- three doughnuts -->
    <div class="parallax">
        <div class="center">
            <div class="first3 card text-white">
                <div class="card-body centerContent ">
                    <div class="item html">
                        <h2 class="doughWrite">PROPOSED</h2>
                        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                         <g>
                          <title>Layer 1</title>
                          <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#FF7A0D" fill="none"/>
                         </g>
                        </svg>
                    </div>
                </div>
            </div>
            &nbsp; &nbsp;
            <div class="first3 card text-white ">
                <div class="card-body centerContent ">
                    <div class="item html">
                        <h2 class="doughWrite">ACTIVE</h2>
                        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                         <g>
                          <title>Layer 1</title>
                          <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#0F8B8D" fill="none"/>
                         </g>
                        </svg>
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="first3 card text-white ">
                <div class="card-body centerContent ">
                    <div class="item html">
                        <h2 class="doughWrite">COMPLETED</h2>
                        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                         <g>
                          <title>Layer 1</title>
                          <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#47a025" fill="none"/>
                         </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of three doughnuts -->

    <!-- other analytics -->
    <div class="startAnalytics">
        <!-- oneline: total overall projects, total employee, future events -->
        <div class="oneLine">
            <div class="card">
                <div class="card-body">Projects</div>
            </div>
            <div class="card">
                <div class="card-body">Employees</div>
            </div>
            <div class="card">
                <div class="card-body">Future Events</div>
            </div>
        </div>
        <!-- end of oneline: total overall projects, total employee, future events -->
        <hr style="margin: 30px;">

        <div class="row">
            <!-- timeline -->
            <div class="col-sm-4">
                <div class="timeline">
                </div>
            </div>
            <!-- end of timeline -->

            <!-- recent projects -->
            <div class="col-sm-8">
                <div class="recentProj">
                </div>
            </div>
            <!-- end of recent projects -->
        </div>
    </div>
</body>


{% endblock %}

</html>