<html>
{% extends "index.html" %} {% load crispy_forms_tags %} {% block page_content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\homepage.css' %}" />

</head>

<body>
    <!-- three doughnuts -->
    <div class="parallax">
        <div class="center">
            <div class="first3 card text-white">
                <div class="card-body centerContent ">
                    <div class="item doughnut_proposed">
                        <h2 class="doughWrite">PROPOSED</h2>
                        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <title>Layer 1</title>
                                <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8"
                                    stroke="#FF7A0D" fill="none" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            &nbsp; &nbsp;
            <div class="first3 card text-white ">
                <div class="card-body centerContent ">
                    <div class="item doughnut_indevelopment">
                        <h2 class="doughWrite">ACTIVE</h2>
                        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <title>Layer 1</title>
                                <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8"
                                    stroke="#0F8B8D" fill="none" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="first3 card text-white ">
                <div class="card-body centerContent ">
                    <div class="item doughnut_completed">
                        <h2 class="doughWrite">COMPLETED</h2>
                        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <title>Layer 1</title>
                                <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8"
                                    stroke="#47a025" fill="none" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of three doughnuts -->


    <!-- other analytics -->
    <div class="startAnalytics">
        <!-- oneline: total overall projects, total employee, future events -->
        <div class="oneLine">
            <div class="card">
                <div class="card-body">
                    <div class="numCount" style="color: #47a025; background-color: #48a0255e;">{{ engCount }}</div>
                    &nbsp;PROJECTS
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="numCount" style="color: #FF7A0D; background-color: #ff7a0d56;">{{ empCount }}</div>
                    &nbsp;EMPLOYEES
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="numCount" style="color: #0F8B8D; background-color: #0f8b8d4b;">11</div>
                    &nbsp;FUTURE EVENTS
                </div>
            </div>
        </div>
        <!-- end of oneline: total overall projects, total employee, future events -->
        
        <hr style="margin: 30px;">

        <div class="row">
            <!-- timeline -->
            <div class="col-sm-4">
                <div class="timelineDiv" style="overflow-y: scroll;">
                    <div class="timeline_header">
                        <h4 style="text-align: center; margin: 30px; font-weight: bold; letter-spacing: 2px; color: brown;">
                            TIMELINE</h4>
                    </div>
                    <div class="timeline_content">
                        <div class="timeline" style="margin-top: 30px; margin-bottom: 30px;">
                            {% for project in eng_byEndDate %} {% if forloop.counter|divisibleby:2 %}
                            <div class="container left">
                                <div class="content">
                                    <h2>{{project.title}}</h2>
                                    <p>{{project.endDate}}</p>
                                </div>
                            </div>
                            {% else %}
                            <div class="container right">
                                <div class="content">
                                    <h2>{{project.title}}</h2>
                                    <p>{{project.endDate}}</p>
                                </div>
                            </div>
                            {% endif %} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of timeline -->

            <!-- recent projects -->
            <div class="col-sm-8">
                <div class="recentProj" style="overflow-y: scroll;">
                    <div class="recentProj_header">
                        <h4 style="text-align: center; margin: 30px; font-weight: bold; letter-spacing: 2px; color: brown;">
                            RECENT PROJECT</h4>
                    </div>
                    <div class="recentProj_content" style="padding: 30px;">
                        <ul class="list-group list-group-flush">
                            {% for project in latest7 %}
                            <li class="list-group-item">
                                {{ project.title }}
                                <i class='tIcon fas fa-users' data-toggle="tooltip" data-placement="right" title={{ project.staff.values|length }}></i>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end of recent projects -->
        </div>
    </div>
    <!-- end of other analytics -->

    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>


{% endblock %}

</html>