<html>
{% extends "index.html" %} {% load crispy_forms_tags %} {% block page_content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\homepage.css' %}" />

</head>

<body>
    <div class="parallax">
        <div class="center">
            <div class="first3 card text-white">
                <div class="card-body centerContent ">
                    <div class="item html">
                        <h2 class="doughWrite">PROPOSED</h2>
                        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                         <g>
                          <title>Layer 1</title>
                          <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#FF7A0D" fill="none"/>
                         </g>
                        </svg>
                    </div>
                </div>
            </div>
            &nbsp; &nbsp;
            <div class="first3 card text-white ">
                <div class="card-body centerContent ">
                    <div class="item html">
                        <h2 class="doughWrite">ACTIVE</h2>
                        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                         <g>
                          <title>Layer 1</title>
                          <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#0F8B8D" fill="none"/>
                         </g>
                        </svg>
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="first3 card text-white ">
                <div class="card-body centerContent ">
                    <div class="item html">
                        <h2 class="doughWrite">COMPLETED</h2>
                        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                         <g>
                          <title>Layer 1</title>
                          <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#47a025" fill="none"/>
                         </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="startAnalytics ">
    </div>

</body>


{% endblock %}

</html>