
<!--  colors
background: rgba(224, 224, 224, 0.4) 
buttons
orange: #FF7A0D
blue: #0F8B8D
dark blue: #086788
red: #D80032
green: #47a025
yellow: #F8D112
-->


<html>


<head>
    <title>ee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- bootstrap4 icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        body {
            background-color: rgba(224, 224, 224, 0.4);
        }
        
        .navbar {
            z-index: 1000;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }
        
        .navtext {
            color: black;
            font-weight: bold;
            /* background-color: cadetblue; */
            margin: 5px;
        }
    </style>



</head>

<body>
    <!-- navigation bar with brand and three page links -->
    <nav class="navbar navbar-expand  fixed-top">
        <!-- Brand/logo -->
        <a class="navbar-brand navtext" href="{% url 'homepage' %}">EE</a>

        <!-- Links -->
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item navtext">
                <a class="nav-link" href="{% url 'homepage' %}">Dashboard</a>
            </li>
            <li class="nav-item navtext">
                <a class="nav-link" href="{% url 'engagement_index' %}">Projects</a>
            </li>
            <li class="nav-item navtext">
                <a class="nav-link" href="{% url 'employee' %}">Employee</a>
            </li>
        </ul>
    </nav>
    <!-- end of navigation bar with brand and three page links -->
    
    </br></br></br></br>

    <!-- the content of the page will start here -->
    <div class="container-fluid main">
        {% block page_content %}{% endblock %}
    </div>
    <!-- end of the content of the page -->

</body>

</html>