<html>
{% extends "engagement_index.html" %} {% load crispy_forms_tags %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/engagement_edit.css' %}" />
</head>

<body>
    {% block edit_project %}
    <div class="card mb-1" style="height: 500px;">
        <!-- progress bar slider -->
        <div class="d-flex justify-content-center my-4">
            <div class="w-75" style="outline: none; height: 5px;">
                <input type="range" class="custom-range" id="customRange11" min="0" max="100">
            </div>
            <span class="font-weight-bold text-primary ml-2 valueSpan2"></span>
        </div>
        <!-- end of progress bar slider -->


        <div class="card-content">
            <form>
                <div class="group">
                    <input type="text" required="true" id="Project Name">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Project title</label>
                </div>
                <div class="group">
                    <input type="text" required="true" id="Project Description">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Project Description</label>
                </div>
            </form>

            <hr />
            <p id="dueDate" style="left:0px;"><i class="fas far fa-calendar-alt" style="width: 200px; color: #F8D112;">&nbsp;&nbsp;{{ engagement.endDate }}</i></p>
            <div class="icon-block">
                <a href="#teamList" data-toggle="modal"><i class="hovhighlight fas fa-users"></i></a>
                <a href="#editProject" data-toggle="modal" style="color: #D80032; text-decoration: none;"><i class="hovhighlight fas fa-pen"></i></a>
                <!--|timeuntil: engagement.startDate -->
            </div>
        </div>
    </div>
    {% endblock %}

</body>


</html>