<html>
{% extends "index.html" %} {% load crispy_forms_tags %} {% block page_content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/engagement_index.css' %}" />
</head>

<body>
    <div class="container">
        <!-- add project button -->
        <div class="" style="text-align:right; margin-top:1%">
            <button type="button" class="icon-btn add-btn" data-toggle="modal" data-target="#addProject">
                <div class="add-icon"></div>
                <div class="btn-txt">Add Project</div>
            </button>
        </div>
        <!-- end of add project button -->


        <!-- add project form -->
        <div class="container">
            <!-- The Modal -->
            <div class="modal fade" id="addProject" style="height: 90%; margin-top: 30px;">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">New Project</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form class="cuba" action="" method="post">
                                {% csrf_token %} {% for field in form %}
                                <div class="group">
                                    <!-- <input type="text" required="true" id="{{form.title.id_for_label}}"> -->
                                    {{field}}
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>{{field.label}}</label>
                                </div>
                                {% endfor %}
                        </div>
                        <!-- {% comment %}
                    <div class="group">
                         <input type="text" required="true" id="{{ form.body.id_for_label }}">
                        {{form.body}}
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ form.body.label }}</label>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="group">
                                <input type="text" required="true" id="{{ form.startDate.id_for_label }}">
                                {{ form.startDate }}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>{{ form.startDate.label }}</label>
                            </div>
                        </div>
                        &nbsp; &nbsp;
                        <div class="col">
                            <div class="group">
                                <input type="text" required="true" id="{{ form.endDate.id_for_label }}">
                                {{ form.endDate }}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>{{ form.endDate.label }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="group">
                        <input type="text" required="true" id="{{ form.staffId.id_for_label }}">
                        {{ form.staffId }}
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ form.staffId.label }}</label>
                    </div> {% endcomment %} -->
                        <div class="modal-footer">
                            <input type="submit" name="addProj" class="btn" value="Submit" style="background-color: #D80032; color: white; width: auto;">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of add project form -->


        <!-- <h1>Engagements</h1> -->
        <div class="row">
            {% for engagement in engagements %}

            <div class="col-md-3 py-4">
                <div class="card mb-1">
                    <div class="progress a">
                        <div class="progress-bar bg-success" role="progressbar" style="width:{{ engagement.progress }}" aria-valuenow="{{engagement.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="card-content" style="text-transform:capitalize; color:brown; font-weight:bold;">
                        <h5 style="">
                            {{ engagement.title }}
                        </h5>
                        <p style="">
                            {{ engagement.body }}
                        </p>
                        
                        <hr />

                        <p id="dueDate" style="left:0px;"><i class="fas far fa-calendar-alt" style="width: 200px; color: #F8D112;">&nbsp;&nbsp;{{ engagement.endDate }}</i></p>
                        <div class="icon-block">
                            <a class="buttonTeamProj" onclick="loadTeamEngaged({{ engagement.id }})"><i class="hovhighlight fas fa-users"></i></a>
                            <a class="buttonEditProj" onclick="loadEngagementId({{ engagement.id }})" style="color: #D80032; text-decoration: none;" button_proj_id={{engagement.id}}><i class="hovhighlight fas fa-pen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- end of the Engagement for loop -->


        <!-- modal to display the team members engaged in the project -->
        <div class="container">
            <!-- The Modal -->
            <div class="modal" id="teamList" style="margin-top: 100px; height: 70%;">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body" id="teamModal">
                            <span style="text-align:center; margin: 30px; text-transform:uppercase; font-weight:bold; color:brown;"><p>Engaged Members</p></span>
                            <ul class="list-group list-group-flush"></ul>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: brown; color: white;" data-dismiss="modal"><strong>Close</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of modal -->


        <!-- edit project card -->
        <div class="modal" id="editProject">
            <div class="modal-dialog modal-dialog-centered" style="justify-content: center;">
                <div class="modal-content">

                    <!-- Modal body -->
                    <div class="card mb-1" style="height: 600px;">

                        <div class="card-content">
                            <form class="editProjectCard">
                                <label for="peditname" class="inline-block"></label>
                                <strong><input type="text" id="peditname" name="peditname" value="" class="inline-block" style="color:brown;"></strong>
                                <label for="peditdesc"></label>
                                <input type="text" id="peditdesc" name="peditdesc" value="" style="margin-top: 0px; color:brown;">
                            </form>

                            <hr />

                            <form action="" class="editProjectCard_sec">
                                <div class="input-group mb-3" style="border: 0; border-radius: 0px; outline: none; -webkit-appearance: none;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas far fa-calendar-alt" style="color: #F8D112;"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" value="" id="peditDue" name="peditDue">
                                </div>

                                <div class="input-group mb-3" style="border: 0; border-radius: 0px; outline: none; -webkit-appearance: none;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-ellipsis-h" style="color: #47a025;"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" value="" id="peditprogress" name="peditprogress">
                                </div>

                                <div class="input-group mb-3" style="border: 0; border-radius: 0px; outline: none; -webkit-appearance: none;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="hovhighlight fas fa-users" style="color: #FF7A0D;"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" value="" id="peditteam" name="peditteam">
                                </div>

                                <button type="submit" class="btn btn-primary" style="position: absolute; bottom: 20px; right: 20px; background-color: #D80032; outline: none; border: none;">UPDATE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of edit project card -->

    </div>
    <script>
        function loadEngagementId(id_in) {
            var engagementId_editButton = id_in;
            $.ajax({
                url: "{% url 'getengagementid' %}", 
                type : "POST",
                data : {
                    "pk_in" : engagementId_editButton,
                },
                dataType : "json",

                success: function(results){
                    if (results.success == "True") {
                        // here should fire up modal and send data to modal
                        $("#peditname").attr("value", results.project[1]);
                        $("#peditdesc").attr("value", results.project[2]);
                        $("#peditDue").attr("value", results.project[4]);
                        $("#peditprogress").attr("value", results.project[6]);

                        $("#editProject").modal('show');
                    }
                    else { 
                        showErrorMessage() ;
                    } 
                },

                headers:{
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                },
            });
        };


        function loadTeamEngaged(id_in) {
            var engagementId_editButton = id_in;
            $.ajax({
                url: "{% url 'getTeamEngaged' %}", 
                type : "POST",
                data : {
                    "pk_in" : engagementId_editButton,
                },
                dataType : "json",

                success: function(results){
                    if (results.success == "True") {
                        console.log(results)
                        $("#teamModal ul").empty();

                        for (var i=0; i < results.nameList.length; i++) {
                            console.log(results.nameList[i])
                            $("#teamModal ul").append('<li class="list-group-item" style="text-align:center; color:#0F8B8D; font-weight:bold;"><i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;'+ results.nameList[i] +'</li>');
                        }
                        
                        $("#teamList").modal('show');
                    }
                    else { 
                        showErrorMessage() ;
                    } 
                },

                headers:{
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                },
            });
        };

    </script>


</body>



{% load static %}
<script type="text/javascript" src="{% static 'js\engagement_index.js' %}"></script>


{% endblock %}

</html>