<html>
{% extends "index.html" %}
{% load crispy_forms_tags %} 
{% block page_content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/engagement_index.css' %}" />
</head>

<body>

    <!-- add project button -->
    <div class="" style="text-align:right; margin-top:1%">
        <button type="button" class="icon-btn add-btn" data-toggle="modal" data-target="#addProject">
            <div class="add-icon"></div>
            <div class="btn-txt">Add Project</div>
        </button>
    </div>
    <!-- end of add project button -->

    <!-- add project form -->
    <div class="container">
        <!-- The Modal -->
        <div class="modal fade" id="addProject">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <form class="cuba" action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="group">
                            <!-- <input type="text" required="true" id="{{form.title.id_for_label}}"> -->
                            {{field}}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>{{field.label}}</label>
                        </div>
                        {% endfor %}

                        {% comment %} <div class="group">
                            <!-- <input type="text" required="true" id="{{ form.body.id_for_label }}"> -->
                            {{form.body}}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>{{ form.body.label }}</label>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="group">
                                    <!-- <input type="text" required="true" id="{{ form.startDate.id_for_label }}"> -->
                                    {{ form.startDate }}
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>{{ form.startDate.label }}</label>
                                </div>
                            </div>
                            &nbsp; &nbsp;
                            <div class="col">
                                <div class="group">
                                    <!-- <input type="text" required="true" id="{{ form.endDate.id_for_label }}"> -->
                                    {{ form.endDate }}
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>{{ form.endDate.label }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="group">
                            <!-- <input type="text" required="true" id="{{ form.staffId.id_for_label }}"> -->
                            {{ form.staffId }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>{{ form.staffId.label }}</label>
                        </div> {% endcomment %}
                        <input type="submit" name="addProj" class="btn" value="Submit" style="background-color: #D80032; color: white; width: auto; ">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end of add project form -->

    <!-- <h1>Engagements</h1> -->
    <div class="row">
        {% for engagement in engagements %}
        <div class="col-md-3 py-4">
            <div class="card mb-1">
                <div class="progress a">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-content">
                    <p>
                        <strong>{{ engagement.title }}</strong><br /> {{ engagement.body }}
                    </p>
                    <hr />
                    <div class="icon-block">
                        <a href="#teamList" data-toggle="modal"><i class="fas fa-users"></i></a>
                        <a href="#"> <i class="fas fa-hourglass-half"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- end of the Engagement for loop -->


    <!-- modal to display the team members engaged in the project -->
    <div class="container">
        <!-- The Modal -->
        <div class="modal" id="teamList" style="margin-top: 100px; height: 70%;">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h1 class="modal-title" style="color: #086788;">Project Team Members</h1>
                        <button type="button" class="close" data-dismiss="modal" style="color: #D80032; padding-right: 20px;">×</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">First employee</li>
                            <li class="list-group-item">Second employee</li>
                            <li class="list-group-item">Third employee</li>
                            <li class="list-group-item">Fourth employee</li>
                            <li class="list-group-item">Fifth employee</li>
                            <li class="list-group-item">Sixth employee</li>
                            <li class="list-group-item">Seventh employee</li>
                            <li class="list-group-item">Eighth employee</li>
                            <li class="list-group-item">Ninth employee</li>
                            <li class="list-group-item">Tenth employee</li>
                        </ul>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn" style="background-color: #D80032; color: white;" data-dismiss="modal"><strong>Close</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of modal -->



</body>

{% load static %}
<script type="text/javascript" src="{% static 'js/engagement_index.js' %}"></script>


{% endblock %}

</html>